// Specific CSS for your home-page

.img {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box{
  width: 150px;
  padding: 10px;
  }
.box:hover{
   -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

a {
    text-decoration: none !important;
    color:rgba(0, 0, 0, 0.7)
}
