<div class ="container">
<%= simple_form_for @deck do |f| %>
<%= f.input :name %>
<%= f.submit class: 'btn btn-outline-dark' %>
<% end %>

<%= link_to decks_path do%>
<i class="fas fa-undo"></i>
<% end %>
</div>
